/*
    Gradient underline effect initially understood from here:
    https://codepen.io/mildrenben/pen/gbddEj
*/

h1, input::placeholder, button
{
    font-family: "Open Sans", sans-serif;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: #33313B;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    min-width: 400px;
    min-height: 400px;

    margin: 100px auto;
    width: 400px;
    height: 400px;

    /* For the user icon the height MUST be 400px. */

    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 20px;
	color: #E6F5FF;
    background-color: #3C4F65;
}


img {
    display: block;
    border-radius: 50%;

    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    height: 100px;
}


h1 {
    height: 20px;
    width: 100%;
    font-size: 24px;
    line-height: 100%;
    font-weight: normal;
    text-align: center;
	color: white;
}

.form-wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

input {
    margin: 20px 25px;
    width: 250px;
    border: none;
    padding: 10px 0;

    border-bottom: solid 1px #834C69;

    /*
    This is the gradient animation for the bottom
    of the username/password input.
    */
    
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #834C69 4%);
    background-position: -250px 0;
    background-size: 250px 100%;
    background-repeat: no-repeat;
    color: darken(#834C69, 20%);
    
}

input::placeholder {
    color: white;
}

/*
Part of the extra animation for the input.
*/

input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.no-outline:focus {
    outline: none;
}

button {
    border: none;
    background: #834C69;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    padding: 14px 40px;
    width: 250px;
    margin: 15px auto;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}


button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2)
}

